body {
    background-image: url('../img/snazzy-image.png');
    background-repeat: no-repeat;
}



.morning-event .material-icons {
    color: orange;
    left: 1000px;
    top: 300px;
}


.afternoon-event .material-icons{
    left: 1370px;
    top: 200px;
    color: #ff5400;
}

  

.night-event .material-icons{
    left: 300px;
    top: 730px;
    color: #4400ff;
    
}

.material-icons {
    size: 24px;
    position: absolute;
}

html {
    height: 100%;
} 


.fill-flex {
    display: flex;
    flex: 1;
}

/* 
card */
img {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 300px;
    border-radius: 25px;
}


.card-night .card-body {
    border-radius: 25px;
    background-color: #2d0d87;
}

.card-morning .card-body {
    border-radius: 25px;
    background-color: rgb(255, 145, 0);
}


.card-afternoon .card-body {
    border-radius: 25px;
    background-color: #d04900;
}



.card-text, .card-title {
    font-family:'Fuzzy Bubbles', cursive;
    color: white;
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 0.6rem;
    padding-right: 0.5rem;
}

.card-title {
    font-size: 2.5rem;
    font-style: bold;
}

.morning-event {
    padding-left: 1030px;
    padding-top: 320px;
}

.afternoon-event {
    padding-left: 1420px;
    margin-top: -620px;
}

.night-event {
    padding-left: 340px;
    padding-bottom: -120px;
}
  