body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: #404040;
    font-size: 16px;
}
  
section {
    margin: .5rem 0;
    padding: 2rem;
    background-color: #e5e5e5;
}

h1 {
    font-family: "Copperplate Gothic Light",'Trebuchet MS', sans-serif;
    color: #e5e5e5;
    font-size: 4em;
}

h2 {
    font-family: Verdana, Arial, sans-serif;
    color: #404040;
    font-size: 2em;
}

h3 {
    font-family: Verdana, Arial, sans-serif;
    color: #404040;
    font-size: 1.5em;
}

p, li {
    font-family: Verdana, Arial, sans-serif;
    color: #404040;
    font-size: 1.2em;
}

.banner{
    margin: .5rem 0;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    background-color: #404040;
}

.links {
    color: #4e4e4e;
}

.subsection {
    margin-top: 2rem;
    background-color: rgb(215, 215, 215);
}