html {
    font-family: sans-serif;
    height: 100%;
}

h2 {
    font-weight: bold;
}

button {
    flex: 1;
    position: relative;
}

img {
    max-width: 10vw;
}

footer > p {
    font-size: .5em;
    margin-bottom: 0;
}

footer h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: .5em;
}

footer h2 {
    font-size: 1.5em;
    font-weight: unset;
}

footer h3 {
    font-size: 1.2em;
}

.input-group button {
    max-width: 50px;
}

.card {
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .23), 2px 2px 5px rgba(0, 0, 0, .16);
}

.date {
    font-weight: bold;
}

.main-page {
    font-weight: bold;
}

.card-col {
    display: flex;
    flex-direction: column;
}

.card-col > .card {
    flex: 1;
}

.row-2 {
    display: flex;
    flex-direction: row;
}

.card .card:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.nav-item:hover {
    border-bottom: 2px solid black;
}

.extra-height {
    height: 90%;
}

.morning-event .material-icons {
    color: orange;
    left: 1000px;
    top: 300px;
}

.afternoon-event .material-icons{
    left: 1370px;
    top: 200px;
    color: #ff5400;
}

.night-event .material-icons{
    left: 300px;
    top: 730px;
    color: #4400ff;
    
}

.material-icons {
    size: 24px;
    position: absolute;
}

.fill-flex {
    display: flex;
    flex: 1;
}

.card-night .card-body {
    border-radius: 25px;
    background-color: #2d0d87;
}

.card-morning .card-body {
    border-radius: 25px;
    background-color: rgb(255, 145, 0);
}

.card-afternoon .card-body {
    border-radius: 25px;
    background-color: #d04900;
}

.card-text, .card-title {
    font-family:'Fuzzy Bubbles', cursive;
    color: white;
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 0.6rem;
    padding-right: 0.5rem;
}

.card-title {
    font-size: 2.5rem;
    font-style: bold;
}

.morning-event {
    padding-left: 1030px;
    padding-top: 320px;
}

.afternoon-event {
    padding-left: 1420px;
    margin-top: -620px;
}

.night-event {
    padding-left: 340px;
    padding-bottom: -120px;
}

.contacts {
    flex: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
}

.contacts p {
    margin: 0;
}

.contacts div {
    margin-bottom: 1em;
}

.index-img {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 300px;
    border-radius: 25px;
}

.index-body {
    background-image: url('../public/img/snazzy-image.png');
    background-repeat: no-repeat;
}
.navicon {
    height:100px;
    width:100px;
    
}
.navtext{
    margin-top: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: .4em;
    font-size: 20px;

}
